altgraph==0.16.1
appdirs==1.4.3
boto3==1.10.4
botocore==1.13.4
bsdiff4==1.1.5
certifi==2019.9.11
chardet==3.0.4
Click==7.0
dnspython==1.16.0
docutils==0.15.2
dsdev-utils==1.0.4
ed25519==1.5
ezFlashCLI==0.0.15
Flask==1.1.1
Flask-SocketIO==4.2.1
future==0.17.1
greenlet==0.4.15
intelhex==2.2.1
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
macholib==1.11
MarkupSafe==1.1.1
monotonic==1.5
pbr==5.4.3
pefile==2019.4.18
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
pyobjc-core==6.2.2
pyobjc-framework-Cocoa==6.2.2
pyobjc-framework-CoreBluetooth==6.2.2
pyobjc-framework-libdispatch==6.2.2
PyQt5==5.15.1
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.1
python-dateutil==2.8.0
python-engineio==3.9.3
python-socketio==4.3.1
PyUpdater==3.1.1
PyUpdater-S3-Plugin==4.0.5
s3transfer==0.2.1
six==1.12.0
stevedore==1.31.0
urllib3==1.25.6
Werkzeug==0.15.5
