
  .mat-card {
      margin: 5px;
  }

  .mat-card-image {

    max-height: 300px;
    max-width: 300px;
  }

  .mat-raised-button {

    margin: 10px
  }

  .ngx-file-drop__drop-zone {
    border : 2px dotted #FF0000;
  }
  .drop-zone {
    align-items: center;
  }

